@tailwind base;
@tailwind components;
@tailwind utilities;

.slideInner___2mfX9 {
    /* display: flex;
    justify-items: center;
    align-items: center; */
}

.carousel__dot {
    height: 10px;
    width: 10px;
    margin: 3px;
    border-radius: 100%;
    border: 1px solid rgb(225, 225, 225);
    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}

.carousel__dot--selected {
    background-color: rgb(255, 255, 255);
}
