@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bronson';
    src: url('../../public/BronsonBlack.ttf');
}

html {
    background-color: #101010;
}

.carousel__dot {
    height: 10px;
    width: 10px;
    margin: 3px;
    border-radius: 100%;
    border: 1px solid rgb(225, 225, 225);
    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}

.carousel__dot--selected {
    background-color: rgb(255, 255, 255);
}

.vertical-timeline {
    width: 70% !important;
    max-width: none !important;
}

.vertical-timeline::before {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) -2%,
        rgb(255, 255, 255) 120%
    ) !important;
}

.vertical-timeline-element-icon {
    top: 2px !important;
    box-shadow: none !important;
    -webkit-box-shadow: 0 !important;
    /* width: 50px !important;
    height: 50px !important; */
    border-width: 2px;
    border-color: white;
}

.vertical-timeline-element-content {
    background: rgba(255, 255, 255, 0.14) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(1px) !important;
    -webkit-backdrop-filter: blur(1px) !important;
    border: 1px solid rgba(255, 255, 255, 0.22) !important;
    color: white !important;
    width: 45% !important;
}

@media (max-width: 1024px) {
    .vertical-timeline-element-content {
        width: 90% !important;
    }
}

.glassMorphism {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.31);
}

.glassMorphism2 {
    background: rgba(255, 255, 255, 0.08);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px); */
}

.glassMorphism3 {
    background: rgba(255, 255, 255, 0.515);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.glassMorphism4 {
    background-color: rgb(238, 235, 239, 0.4);

    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: #383838;
}

*::-webkit-scrollbar-thumb {
    background-color: #282828;
    border: 1px solid #383838;
}

.overlay {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.864) 100%
    );
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.slideInner___2mfX9 {
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
